{% extends "base1.html" %} {% load bootstrap4 %} {% block log %}

<div class="col-lg-8 mx-auto">
    <div class="apply_job_form white-bg">
        <h4>edit profile</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form userform %}
            {% bootstrap_form profileform %}
            {% buttons %}
            <button class="boxed-btn3 w-100" type="submit">Add Now</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}