{% extends "base1.html" %} {% load bootstrap4 %} {% block log %}

<div class="col-lg-8 mx-auto">
  <div class="job_sumary">
    <div class="summery_header">
      <h3>welcome {{profile.user.first_name}} {{profile.user.last_name}}</h3>
    </div>
    <div class="job_content">
      <ul>
        <li>Name: <span>{{profile}}</span></li>
        <li>E-mail: <span>{{profile.user.email}}</span></li>
        <li>Phone: <span>{{profile.phone}}</span></li>
        <li>City: <span> {{profile.city}}</span></li>
      </ul>
    </div>
    <a href="{% url 'accounts:profile_edit' %}" class="boxed-btn3 w-100">Edit</a>
    <div class="col text-center p-1"><a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
    </div>
  </div>
</div>

{% endblock log %}